---
// @ts-expect-error `astro-seo` does not include type definitions
import { SEO } from 'astro-seo';

import type { BaseLayoutProps } from '~/types';

export interface Props extends BaseLayoutProps {}

const {
	description = "Hey 👋 I'm Ben, a developer",
	title,
	titleSuffix = ' ─ nuro',
} = Astro.props as Props;
const fullTitle = `${title}${titleSuffix}`;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<SEO title={fullTitle} description={description} />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body class="antialiased font-inter bg-gray-50 text-gray-500 dark:bg-gray-900">
		<slot />
		<script>
			import splitbee from '@splitbee/web';

			// TODO: Add Splitbee endpoint proxy
			if (process.env.NODE_ENV === 'production')
				splitbee.init({
					disableCookie: true,
				});
		</script>
	</body>
</html>
